<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/404/css/bootstrap.min.css">
</head>
<body>
       <!-- 给一个容器 -->
       <div class="container">
        <div class="row text-center" >
            <h1>后台管理系统</h1>
            <hr>

            <a href="" class="btn btn-success">首页</a>
            <a href="/add" class="btn btn-warning">添加</a>

            <br>
            <br>
        </div>

        <!-- col-md-8 中等屏幕的8  12 -->
       <form action="/user/add" method="POST" enctype="multipart/form-data">

        <div class="row">
            <div class="form-group col-md-5">
                <label for="name">name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-5">
                <label for="sex">alt</label>
                <input type="text" name="alt" id="sex" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label for="price">title</label>
                <input type="text" name="title" id="age" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label for="age">lesson</label>
                <input type="text" name="lesson" id="age" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label for="age">price</label>
                <input type="text" name="price" id="age" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label for="age">pic</label>
                <input type="file" name="pic" id="age" class="form-control">
            </div>
        </div>

        <div class="row">

            <div class="text-center col-md-5">
                <button type="submit" class="btn btn-success">提交</button>
                <button type="reset" class="btn btn-danger">重置</button>


            </div>



        </div>
       </form>

            




        








    </div>
</body>
</html>