    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/keyframes.css">
        <link rel="stylesheet" href="../css/iconfont.css">
        <link rel="stylesheet" href="../css/public.css">
        <link rel="stylesheet" href="../css/delu.css">
    </head>
    <body>
        
        <!-- 导航部分 -->
        <header class="head">
            <div class="container">
                <a href="../index.html" class="logo"></a>
                <ul id="nav">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li style="position: relative;">
                    <a href="#">精品课程</a>
                    <i id="icon">
                        <span></span>
                        <span class="none">
                        </span>
                    </i>
                    <div id="bottom">
                            <div id="box">精品选修</div>
                            <div id="box">精品课程</div>
                    </div>
                    </li>
                    <li>
                        <a href="#">在线直播</a>
                    </li>
                    <li>
                        <a href="#">IT培训</a>
                    </li>
                    <li>
                        <a href="#">IT培训机构</a>
                    </li>
                    <li>
                        <a href="#">IT问答库</a>
                    </li>
                    <li>
                        <a href="#" id="app">APP下载</a>
                    </li>
                </ul>
                <div class="search">
                    <div class="search-r">
                        <a href="" class="iconfont a1">&#xe668;</a>
                        <a href="" class="iconfont a2">&#xe612;
                            <div class="erweima">
                                <p><img src="../images/ujyx_16.jpg" alt="">
                                    <span>扫码下载<br>
                                    IT优学app</span></p>
                                <p>
                                    <img src="../images/ujyx_17.jpg" alt="">
                                    <span>扫码关注<br>中共优就业</span>
                                </p>
                            </div>
                        </a>
                        <a href="/user/delu" class="iconfont">登录
                        </a>
                        <a href="/user/zhuce" class="iconfont">注册
                        </a>
                      
    
                    </div>
                    <div id="search_box">
                            <input id="search-l" class="none" type="text" placeholder="搜索课程">
                        <a href="" id="lar_icon" class="iconfont">&#xe69d;</a>
                    </div>
                    
                </div>
            </div>
        </header>

        <!-- 主体部分 -->
        <section>
            <div class="wid1000 bc delu">
                <div class="left">
                    <form action="/user/delu" method="POST">
                      <ul>
                          <li>
                              <span>手机：</span>
                             <input name="tel" placeholder="请输入手机号码" class="pt1" type="text">
                             <t id="t1" style="margin-left: 10px;">账号格式错误</t>
                          </li>
                          <li>
                              <span>密码：</span>
                             <input name="password" placeholder="请输入密码" class="pt2" type="password">
                             <t id="t2" style="margin-left: 10px;">密码错误</t>
                          </li>
                          <li class="last1">
                              <button disabled="disabled" id="dengluS">登录</button>
                          </li>
                          <li class="last">
                              <a href="">找回密码</a>
                              <a href="/user/zhuce">注册</a>
                          </li>
                      </ul>
                    </form>
                </div>
                <div class="right ">
                    <p>
                        使用合作账号一键登录：
                    </p>
                    <p>
                        <a href="#">
                        <!-- <img src="../images/qq.jpg" alt=""> -->
                    </a>
                        <a href="#">
                        <!-- <img src="../images/wechat.jpg" alt=""> -->
                    </a>
                        <a href="#">
                        <!-- <img src="../images/weibo.jpg" alt=""> -->
                    </a>
                </p>
                    <dl>
                        <dt>用户专享服务：</dt>
                        <dd>机制的视屏学习体验</dd>
                        <dd>丰富的直播课程免费学</dd>
                        <dd>开课提醒，不错过每一次精彩</dd>
                        <dd>讲、学、链、考，多种高校学习方式快速提升成绩</dd>
                    </dl>
                </div>
            </div>
        </section>

      <!-- footer -->
    <div class="footer">
        <div class="p">
            <a href="javaScript:;">关于我们</a> |
            <a href="javaScript:;">联系我们</a> |
            <a href="javaScript:;">加入我们</a> |
            <a href="javaScript:;">品牌荣誉</a> |
            <a href="javaScript:;">版权申明</a> |
            <a href="javaScript:;">网站地图</a> |
            <a href="javaScript:;">支付方式</a> <br>
            <a href="javaScript:;">京ICP备10218183号-88</a> 京ICP证161188号
            <a href="javaScript:;">
                <img src="../images/gongbei.png" alt="">
                京公网安备11010802020723号
                <br>

                Copyright©1999-2020 北京中公教育科技有限公司 .All Rights Reserved
            </a>
            <div id="pic">
                <img src="../images/yanzheng.png" alt="">
                <img src="../images/kexin.png" alt="">
            </div>
        </div>
        
    </div>
    <script src="../js/zyc.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/delu.js"></script>
    </body>
    </html>
    